.test-case-btn {
  .dropdown-toggle.btn {
    width: 73px;
    height: 28px;
    border-radius: 5px;
    border: 2px solid rgba(26, 12, 47, 0.1);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: #ffffff;
    font-family: "Nunito", sans-serif;
  }
}
