.main {
  background: #F7F7F7;
  min-height: calc(100vh - 86px);
  padding-top: 40px;
  min-width: 1383px;
  overflow-x: scroll;
}

.content {
  max-width: 1300px;
  padding-left: 83px;

  @media (min-width: 1920px) {
    margin-left: auto;
    margin-right: auto; 
  }

  @media (max-width: 987px) {
    padding-left: 0px;
  }
}