@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap");


/* highly important */
.App {
  display: flex;


  @media (max-width: 1186px) {
    width: 1383px;
    overflow-x: scroll;
  }

}